In [1]:
from tqdm.notebook import tqdm
import pandas as pd
import pickle
import numpy as np

# wiki_data

In [18]:
with open('./source/wiki_df.pickle', 'rb') as handle:
    dtf = pickle.load(handle)

In [23]:
dtf.shape

(1002, 12)

In [121]:
dtf['y'].unique()

array(['society', 'arts', 'racing', 'soccer', 'science', 'basketball',
       'other sports', 'sports', 'games', 'tennis'], dtype=object)

In [344]:
dtf.loc[dtf['y'].isin(['racing', 'soccer','basketball',
       'other sports', 'tennis', 'football']), 'y'] = 'sports'

In [125]:
dtf.shape

(1002, 12)

In [127]:
with open('./source/wiki_df.pickle', 'wb') as handle:
    pickle.dump(dtf,handle)

In [142]:
dtf['X'] = dtf['pg_title'] + ' ' +\
               dtf['section_title'] + ' ' +\
               dtf['table_caption'] + ' ' +\
               dtf['columns'] + ' ' +\
               dtf['values'] # + ' ' +\

In [174]:
music_indexs = []
for index, row in dtf.iterrows():
    if ('song' in row['X'] or 'Voice' in row['X'] or 'band' in row['X'] or 'Albums' in row['X'] or\
       'album' in row['X'] or 'Album' in row['X'] or 'music' in row['X'] or 'Song' in row['X']):
        music_indexs.append(index)
len(music_indexs)

239

In [177]:
file_indexs = []
for index, row in dtf[dtf['y'] == 'arts'].iterrows():
    if ('film' in row['X'] or 'Film' in row['X'] or 'TV' in row['X'] or 'Actor' in row['X'] or 'Television' in row['X']):
        file_indexs.append(index)
len(file_indexs)

1

In [178]:
dtf.loc[file_indexs, 'y'] = 'movie'

In [156]:
dtf.loc[music_indexs, 'y'] = 'music'

In [397]:
football_indexs = []
for index, row in dtf[dtf['y'] == 'sports'].iterrows():
    if ('football' in row['X'].lower() or 'world cup' in row['X'].lower() or\
        'npsl' in row['X'].lower() or 'fifa' in row['X'].lower() or\
       'mcgrath cup' in row['X'].lower() or 'balkans cup' in row['X'].lower() or\
        
       'hakeem nicks' in row['X'].lower() or 'nfl'  in row['X'].lower() or\
        'alan risher' in row['X'].lower() or\
        'jamie heaslip' in row['X'].lower() or\
        'kitch christie' in row['X'].lower() or\
        'county cup' in row['X'].lower() or\
        'russian championship'  in row['X'].lower() or\
        'jamie heaslip' in row['X'].lower() or\
        'fred besana' in row['X'].lower() or\
        
       'afc' in row['X'].lower() or\
        
        'soccer' in row['X'].lower() or\
        'CE JÃºpiter' in row['X'] or\
        'canadian championship' in row['X'].lower() or\
        'club performance club' in row['X'].lower() or\
        'reimond manco' in row['X'].lower() or\
        'wpsl' in row['X'].lower() or\
        'league cup' in row['X'].lower() or\
        'Luis GarcÃ­a Sanz' in row['X'] or\
        'matty blythe' in row['X'].lower() or\
        'persibo bojonegoro' in row['X'].lower() or\
        'marcelo estigarribia' in row['X'].lower() or\
       'jorge valdano' in row['X'].lower()):
        football_indexs.append(index)
print (len(football_indexs))
dtf.loc[football_indexs, 'y'] = 'football'

1

In [407]:
soccer_indexs = []
for index, row in dtf[dtf['y'] == 'football'].iterrows():
    if ('world cup' in row['X'].lower() or\
        'npsl' in row['X'].lower() or 
#        'hakeem nicks' in row['X'].lower() or 'nfl'  in row['X'].lower() or\
#         'alan risher' in row['X'].lower() or\
#         'jamie heaslip' in row['X'].lower() or\
#         'kitch christie' in row['X'].lower() or\
#         'jamie heaslip' in row['X'].lower() or\
#         'fred besana' in row['X'].lower() or\
        
       'afc' in row['X'].lower() or\
        
        'soccer' in row['X'].lower() or\
        'county cup' in row['X'].lower() or\
        'russian championship'  in row['X'].lower() or\
        'fifa' in row['X'].lower() or\
       'mcgrath cup' in row['X'].lower() or 'balkans cup' in row['X'].lower() or\
        'CE JÃºpiter' in row['X'] or\
        'canadian championship' in row['X'].lower() or\
        'club performance club' in row['X'].lower() or\
        'reimond manco' in row['X'].lower() or\
        'wpsl' in row['X'].lower() or\
        'league cup' in row['X'].lower() or\
        'Luis GarcÃ­a Sanz' in row['X'] or\
        'matty blythe' in row['X'].lower() or\
        'persibo bojonegoro' in row['X'].lower() or\
        'marcelo estigarribia' in row['X'].lower() or\
       'jorge valdano' in row['X'].lower()):
        soccer_indexs.append(index)
print (len(soccer_indexs))
dtf.loc[soccer_indexs, 'y'] = 'soccer'

3

In [392]:
racing_indexs = []
for index, row in dtf[dtf['y'] == 'sports'].iterrows():
    if ('racing' in row['X'].lower() or 'drive' in row['X'].lower() or 'red bull' in row['X'].lower() or\
       ' car ' in row['X'].lower() or\
        'carlos pairetti' in row['X'].lower() or\
        'road' in  row['X'].lower()):
        racing_indexs.append(index)
print (len(racing_indexs))
dtf.loc[racing_indexs, 'y'] = 'racing'

1

In [403]:
other_indexs = []
for index, row in dtf[dtf['y'] == 'sports'].iterrows():
    if ('volleyball' in row['X'].lower() or\
        'skating' in row['X'].lower() or 'cricketer' in row['X'].lower() or\
       'swim' in row['X'].lower() or 'chess' in row['X'].lower() or\
    'badminton' in row['X'].lower() or 'baseball' in row['X'].lower() or\
       'bowling' in row['X'].lower() or 'boxing' in row['X'].lower() or\
        'atlanta flames season' in row['X'].lower() or\
        'julien leparoux'  in row['X'].lower() or\
        'South Panola School District' in row['X'] or\
        'Reggie Lewis Track and Athletic Center'  in row['X'] or\
         #'baseball'
       'cleveland indians season' in row['X'].lower() or\
        # hockey
        'hockey' in row['X'].lower() or\
       'ottawa senators season' in row['X'].lower() or\
       'warsaw cup' in row['X'].lower() or\
       'handball' in  row['X'].lower() or\
     'norwegian bandy premier league' in  row['X'].lower() or\
       'curling' in row['X'].lower() or\
        #bike
       'bike' in row['X'].lower() or\
        'motorcycle' in row['X'].lower() or\
        'vuelta' in row['X'].lower() or\
       'track cycling' in row['X'].lower() or\
       'betfred league of legends' in row['X'].lower() or\
        'hautacam' in row['X'].lower() or\
        'paolo angioni' in row['X'].lower() or\
        #golf
       'masters tournament' in row['X'].lower() or\
        'the big break' in row['X'].lower() or\
        'Criterium of Polish' in row['X'] or\
        'MiklÃ³s NÃ©meth (athlete)' in row['X'] or\
       'world games'  in row['X'].lower()):  
        other_indexs.append(index)
print (len(other_indexs))
dtf.loc[other_indexs, 'y'] = 'other sports'

2

In [346]:
basketball_indexs = []
for index, row in dtf[dtf['y'] == 'sports'].iterrows():
    if ('basketball' in row['X'].lower() or 'fiba' in row['X'].lower() or 'nba' in row['X'].lower() or\
       'euroleague' in row['X'].lower()):
        basketball_indexs.append(index)
print (len(basketball_indexs))
dtf.loc[basketball_indexs, 'y'] = 'basketball'

32

In [394]:
tennis_indexs = []
for index, row in dtf[dtf['y'] == 'sports'].iterrows():
    if ('wimbledon championships' in row['X'].lower() or\
        'ulrich pinner' in row['X'].lower() or\
        'tennis' in row['X'].lower()):
        tennis_indexs.append(index)
print (len(tennis_indexs))
dtf.loc[tennis_indexs, 'y'] = 'tennis'

1

In [352]:
dtf[(dtf['y'] == 'sports') & (dtf.index > 0)].shape

(30, 12)

In [409]:
dtf[(dtf['y'] == 'science') & (dtf.index > 0)][['pg_title','section_title','table_caption','columns','values']]

,pg_title,section_title,table_caption,columns,values
8,"Katha, Burma",Climate,Climate,Climate data for Katha Month,Source: NOAA (1961-1990)
10,Secchi (lunar crater),Satellite craters,Satellite craters,Secchi Latitude Longitude Diameter,A 3.3Â° N 41.5Â° E 5km B 3.7Â° N 41.5Â° E 5km ...
11,Silberschlag (crater),Satellite craters,Satellite craters,Silberschlag Latitude Longitude Diameter,A 6.9Â° N 13.2Â° E 7km D 7.5Â° N 11.2Â° E 4km ...
16,Stevinus (crater),Satellite craters,Satellite craters,Stevinus Latitude Longitude Diameter,A 31.8Â° S 51.6Â° E 8km B 31.1Â° S 52.6Â° E 20...
17,Strabo (crater),Satellite craters,Satellite craters,Strabo Latitude Longitude Diameter,B 64.6Â° N 55.5Â° E 23km C 67.1Â° N 59.3Â° E 1...
18,Tacquet (crater),Satellite craters,Satellite craters,Tacquet Latitude Longitude Diameter,B 15.8Â° N 20.0Â° E 14km C 13.5Â° N 21.1Â° E 6km
19,Reamer,Tool materials,Tool materials,Common Tool Materials Applications,High-speed steels Most commonly used. Inexpens...
20,Thales (crater),Satellite craters,Satellite craters,Thales Latitude Longitude Diameter,A 58.5Â° N 40.8Â° E 12km E 57.2Â° N 43.2Â° E 2...
21,Torricelli (crater),Satellite craters,Satellite craters,Torricelli Latitude Longitude Diameter,A 4.5Â° S 29.8Â° E 11km B 2.6Â° S 29.1Â° E 7km...
23,Tsiolkovskiy (crater),Satellite craters,Satellite craters,Tsiolkovskiy Latitude Longitude Diameter,W 16.0Â° S 126.9Â° E 13km X 14.7Â° S 126.5Â° E...
26,Vitruvius (crater),Satellite craters,Satellite craters,Vitruvius Latitude Longitude Diameter,B 16.4Â° N 33.0Â° E 18km G 13.9Â° N 34.6Â° E 6...
28,Werner (crater),Satellite craters,Satellite craters,Werner Latitude Longitude Diameter,A 27.2Â° S 1.1Â° E 15km B 26.2Â° S 0.7Â° E 13k...
63,Cambrai,Climate,Climate,Climate data for Cambrai Month,"Source: Weatherbase Retrieved on June 26, 2013."
102,Nikkaluokta,,,"Climate data for Nikkaluokta, 2010-2012 (extre...","[ citation needed ], Wikipedia:Citation needed"
108,"Dimitrovgrad, Bulgaria",Population,Population,Dimitrovgrad Dimitrovgrad Dimitrovgrad Dimitro...,Year 1887 1910 1934 1946 1956 1965 1975 1985 1...
120,Bisphenol A,Low-dose exposure in animals,Low-dose exposure in animals,Dose (Âµg/kg/day) Effects (measured in studies...,"0.025 ""Permanent changes to genital tract"" 200..."
122,Copper cable certification,Decibels vs. Voltage,Decibels vs. Voltage,dB Voltage Ratio dB Voltage Ratio dB Voltage ...,0 1V -13 .224 -6 .500 -19 .112 -1 .891 -14 .2...
126,Convex conjugate,Table of selected convex conjugates,Table of selected convex conjugates,f(x) \operatorname{dom}(f) f^*(x^*) \operatorn...,f(ax) (where a \neq 0 ) X f^*\left(\frac{x^*}{...
417,Schwa with diaeresis,Computing codes,Computing codes,Character Óš Óš Ó› Ó›,Unicode name CYRILLIC CAPITAL LETTER SCHWA WIT...
549,Renault Ventoux engine,Different cylinder capacity,Different cylinder capacity,engine types 690 662-2 - 680 662-1 839 B1B - 6...,cylinder capacity 603 cc 747 cc 760 cc 782 cc ...
631,Glycoprotein,Monosaccharides,The principal sugars found in human glycoproteins,Sugar Type Abbreviation,"Î²-D-Glucose, Glucose Hexose, Hexose Glc Î²-D-..."
684,1172 Ã„neas,,JPL Small-Body Database \n list of the largest...,Trojan Diameter (km),"624 Hektor, 624 Hektor 225 911 Agamemnon, 911 ..."
685,List of minor planets/180001â€“180100,,,Name Provisional designation Discovery date Di...,"180001 - 2002 YZ December 27, 2002 Anderson Me..."
687,List of minor planets/180201â€“180300,,,Name Provisional designation Discovery date Di...,"180201 - 2003 ST251 September 26, 2003 Socorro..."
688,List of minor planets/180401â€“180500,,,Name Provisional designation Discovery date Di...,"180401 - 2004 BT19 January 17, 2004 Palomar NE..."
689,List of minor planets/180301â€“180400,,,Name Provisional designation Discovery date Di...,"180301 - 2003 WE139 November 21, 2003 Socorro ..."
690,List of minor planets/180501â€“180600,,,Name Provisional designation Discovery date Di...,"180501 - 2004 CK92 February 14, 2004 Haleakala..."
691,List of minor planets/180601â€“180700,,,Name Provisional designation Discovery date Di...,"180601 - 2004 FH81 March 16, 2004 Socorro, Soc..."
692,List of minor planets/180701â€“180800,,,Name Provisional designation Discovery date Di...,"180701 - 2004 HQ44 April 21, 2004 Socorro LINE..."
703,RHOBTB3,Model organisms,Rhobtb3 knockout mouse phenotype,Characteristic Phenotype,"Homozygote viability, Homozygote Normal Fertil..."
706,SOGA2,Paralogs,Paralogs,protein name accession number sequence length ...,SOGA3 NP_001012279.1 947 58% conserved in ~500...
707,SLC9A8,Model organisms,Slc9a8 knockout mouse phenotype,Characteristic Phenotype,"Homozygote viability, Homozygote Normal Fertil..."

In [405]:
dtf[(dtf['y'] == 'football') & (dtf.index > 0)][['pg_title','section_title','table_caption','columns','values']]

,pg_title,section_title,table_caption,columns,values
7,Dettmar Cramer,Career statistics,Career statistics,Team From To Record Record Record Record Recor...,"Hertha BSC, Hertha BSC 1 July 1974 9 July 1974..."
12,The Valley (London),Average attendances,Average attendances,Season Average Division,"1948-49, 1948-49 in English football 40,216 Di..."
33,Ethan Horton,,,Sporting positions Sporting positions Sporting...,"Precededby Ron Middleton, Ron Middleton (Ameri..."
36,Harrisburg Heat,Year-by-year,Year-by-year,Year League Reg. Season Playoffs Attendance,"1991/92 NPSL 2nd, American Lost Quarterfinals ..."
48,Hiroshi Tetsuto,Club career statistics,Club career statistics,Club performance Club performance Club perform...,"2006 Sagan Tosu, Sagan Tosu J. League 2, J. Le..."
...,...,...,...,...,...
969,1966â€“67 Balkans Cup,Group A,Group A,Team Pld W D L GF GA GD Pts,"FenerbahÃ§e, FenerbahÃ§e S.K. 6 5 0 1 13 4 +9 ..."
970,1966â€“67 Balkans Cup,Group B,Group B,Team Pld W D L GF GA GD Pts,"AEK Athens, AEK Athens F.C. 6 3 3 0 10 5 +5 9 ..."
976,2006 Speedway World Cup Final,Results,Results,Pos. National team Pts.,"1 [[|]] 45 2 Sweden, Sweden national speedwa..."
978,McGrath Cup,Roll of honour,Roll of honour,Year Winner Opponent,"2013, 2013 McGrath Cup Kerry 1-12, Kerry GAA T..."
979,McGrath Cup,Top winners,Top winners,Team Years won,"Clare (12), Clare GAA 1982, 1983, 1984, 1986, ..."

In [132]:
with open('./source/wiki_processing_df.pickle', 'rb') as handle:
    dtf = pickle.load(handle)

In [408]:
with open('./source/wiki_processing_df.pickle', 'wb') as handle:
    pickle.dump(dtf, handle)

In [410]:
with open('./source/wiki_processing_df_science.pickle', 'rb') as handle:
    dtf_science = pickle.load(handle)

In [447]:
science_df = pd.DataFrame.from_dict(wiki_dict)
science_df = science_df.drop([51,52,58,199])

In [449]:
with open('./source/wiki_science_df.pickle', 'wb') as handle:
    pickle.dump(science_df, handle)

In [450]:
# science_df[(science_df['y'] == 'science') &\
#            (science_df.index > 140)][['pg_title','section_title','table_caption','columns','values']]